.cutom-numbr{
    background: #2081F9;
    color: white;
    width: 220px;
    height: 210px;
    line-height: 235px;
    font-size: 200px;
    border-radius: 100%;
    text-align: center;
    font-weight: 500;
}